
.container-fluid
{
 border:2px solid green;

}


#navbar ul{
    list-style:none;
    float:right;
    padding: 15px 12px;

   

}

#navbar ul li{
    
    display:inline-block;

}

#navbar ul li a{
    

    text-decoration:none;
}

#sidebar
{
    background-color: yellow;
}

#navbar
{
    background-color: yellow;
}

#sidebar
{
    background-color: yellow;
}

#lf_bar
{
    background-color:pink;
}

#lf_lf_bar
{
    background-color:aqua;
}
